/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays everything */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  text-align: center;
  width: 300px;
  overflow-y: scroll;
  color: black;
  position: relative;
}

.close-popupbtn {
  background-color: #508c9b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.close-popupbtn:hover {
  background-color: #213f46;
}
